# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
.env
models/
venv

# Local data
data/raw_documents/
data/processed_chunks/
vector_store/
*.pdf
*.docx
*.txt

# Chroma DB
chroma_db/
*.sqlite3

# Streamlit cache
.streamlit/

# Logs
*.log